<?xml version="1.0" encoding="utf-8"?>    <!--
		Copyright (C) 2009 Teleca Poland Sp. z o.o. <android@teleca.com>

		Licensed under the Apache License, Version 2.0 (the "License"); you
		may not use this file except in compliance with the License. You may
		obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0 Unless required by
		applicable law or agreed to in writing, software distributed under the
		License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
		CONDITIONS OF ANY KIND, either express or implied. See the License for
		the specific language governing permissions and limitations under the
		License.
	-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.dian1.player"
    android:installLocation="auto"
    android:versionName="1.0.0"
    android:versionCode="1">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="22"/>

    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
        android:name=".Dian1Application">
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AlbumActivity"
            android:label="@string/album">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PlayerActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.RepoActivity"
            android:label="@string/player_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.LocalBrowserActivity"
            android:label="@string/player_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.SearchActivity"
            android:label="@string/search">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/search">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ArtistActivity"
            android:label="@string/artist">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PlaylistActivity"
            android:label="@string/playlist">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BrowsePlaylistActivity"
            android:label="@string/playlist">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RadioActivity"
            android:label="@string/playlist">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DownloadActivity"
            android:label="@string/playlist">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StarredAlbumsActivity"
            android:label="@string/playlist">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".service.PlayerService"></service>
        <service android:name=".service.DownloadService"></service>

        <activity android:name=".activity.IntentDistributorActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- This is messy i know, I could not figure out pathPattern -->
                <!-- Music filter -->
                <data
                    android:scheme="http"
                    android:host="www.jamendo.com"
                    android:pathPrefix="/music/" />
                <data
                    android:scheme="http"
                    android:host="www.jamendo.com"
                    android:pathPrefix="/en/music/" />
                <data
                    android:scheme="http"
                    android:host="www.jamendo.com"
                    android:pathPrefix="/pl/music/" />
                <data
                    android:scheme="http"
                    android:host="www.jamendo.com"
                    android:pathPrefix="/fr/music/" />
                <data
                    android:scheme="http"
                    android:host="www.jamendo.com"
                    android:pathPrefix="/de/music/" />
                <data
                    android:scheme="http"
                    android:host="www.jamendo.com"
                    android:pathPrefix="/es/music/" />
                <data
                    android:scheme="http"
                    android:host="www.jamendo.com"
                    android:pathPrefix="/ru/music/" />
                <data
                    android:scheme="http"
                    android:host="www.jamendo.com"
                    android:pathPrefix="/it/music/" />

                <!-- Album filter -->
                <data
                    android:scheme="http"
                    android:host="www.jamendo.com"
                    android:pathPrefix="/album/" />
                <data
                    android:scheme="http"
                    android:host="www.jamendo.com"
                    android:pathPrefix="/en/album/" />
                <data
                    android:scheme="http"
                    android:host="www.jamendo.com"
                    android:pathPrefix="/pl/album/" />
                <data
                    android:scheme="http"
                    android:host="www.jamendo.com"
                    android:pathPrefix="/fr/album/" />
                <data
                    android:scheme="http"
                    android:host="www.jamendo.com"
                    android:pathPrefix="/de/album/" />
                <data
                    android:scheme="http"
                    android:host="www.jamendo.com"
                    android:pathPrefix="/es/album/" />
                <data
                    android:scheme="http"
                    android:host="www.jamendo.com"
                    android:pathPrefix="/ru/album/" />
                <data
                    android:scheme="http"
                    android:host="www.jamendo.com"
                    android:pathPrefix="/it/album/" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EqualizerActivity"
            android:label="@string/equalizer">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".activity.login.LoginActivity">
        </activity>
        <activity android:name=".activity.login.ChangePwdActivity">
        </activity>
        <activity android:name=".activity.login.PwdForgetActivity">
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
</manifest> 
